<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.topview.purejoy.musiclibrary">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".playing.view.PlayingActivity"
            android:theme="@style/slideAnimationActivity"
            android:exported="false" />
        <activity
            android:name=".recommendation.music.view.DailyRecommendActivity"
            android:exported="false" />
    </application>



</manifest>