<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.topview.purejoy.musiclibrary">

    <application>
        <activity
            android:name=".recommendation.music.view.DailyRecommendActivity"
            android:exported="false" />
    </application>

</manifest>